.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
    PADDING: 24px;
}

/* search bar */
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    background: #E7E7E7;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.tags-container {
    height: 60px;
    width: 100%;
    /* background-color: red; */
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
}

.tag-description {
    /* background-color: red; */
    max-width: 70%;
    transition-duration: 0.5s;
}

.tag-description p {
    line-height: 25px;
}

.tag-closeBtn {
    height: 100%;
    width: 20%;
    border-radius: 5px;
    float: right;
    transform: translateY(-42px);
    transition-duration: 0.2s;
    align-items: center;
    cursor: pointer;
}

.tag-closeBtn:hover {
    height: 100%;
    width: 20%;
    border-radius: 5px;
    float: right;
    transform: translateY(-42px);
    background-color: rgba(255, 255, 255, .3);
    transition-duration: 0.2s;
    cursor: pointer;
}

.tag-closeBtn img {
    height: auto;
    width: 15px;
    align-self: center;
    transform: translateY(-5px);
}

/* below searchbar tags */
.blueTag {
    background-color: #0d6efd;
    height: 100%;
    margin: 2px;
    border-radius: 5px;
    width: auto;
    min-width: calc(100% / 5);
    padding: 4px;
    color: white;
    text-align: center;
    line-height: 35px;
}

.greenTag {
    background-color: #68D9A4;
    height: 100%;
    margin: 2px;
    border-radius: 5px;
    width: auto;
    min-width: calc(100% / 5);
    padding: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}

.redTag {
    background-color: #dc3545;
    height: 100%;
    margin: 2px;
    border-radius: 5px;
    width: auto;
    min-width: calc(100% / 5);
    padding: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 94%;
    font-size: 162%;
}

/* style button */
.searchPerType {
    display: flex;
    flex-direction: row;
}

::placeholder {
    color: white;
}

.Appareils-Recipes {
    background: #68D9A4;
    border-radius: 5px;

}

.Ustensiles-Recipes {
    background: #ED6454;
    border-radius: 5px;
}

.Ingredient-Recipes {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    height: 48px;
    width: 165px;

    border-radius: 5px;

}

.dropPosition {
    position: relative;
    left: 135px;
    bottom: -6px;
}

.btn.show,
.btn:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn.show1,
.btn1:hover {
    background-color: #68D9A4;
    border-color: #68D9A4;
    --bs-btn-border-color: #68d9a4;
}

.btn-success {
    --bs-btn-border-color: #68d9a4;
}

.btn.show2,
.btn2:hover,
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* tags style */
.dropdown-menu.show {
    height: 397px;
    width: 667px;
    border-radius: 5px;

}

.searchTag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 35px;
}

.arrowPos {
    transform: rotate(180deg);
    top: 20px;
    position: relative;
    height: 9px;
    cursor: pointer;
}

.dropdown-menu {
    --bs-dropdown-link-hover-color: none;
    --bs-dropdown-link-hover-bg: none;
    cursor: default;
}

#ingredientCard,
#AppareilsCard,
#UstensilCard {
    display: flex;
    flex-direction: COLUMN;
    flex-wrap: wrap;
    height: 339px;
    width: 664px;
    overflow: auto;
    padding-left: 20px;
    /* scrollbar-color: #0060ec; */

}

#ingredientCard p,
#AppareilsCard p,
#UstensilCard p {
    width: 34%;
    cursor: pointer;
}

#ingredientCard::-webkit-scrollbar-thumb {
    background: #0060ec;
    border-radius: 5px;
}

.recipeIngredientTags {


    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

/* for tag list */
.tagLabel {
    height: 3rem;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.tagLabel:hover {
    height: 3rem;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 2px;
    background-color: rgba(255, 255, 255, .3);
    transition-duration: 0.5s;
}

.tagText {
    white-space: nowrap;
}

/* Drop down style */
.padBtn {
    padding: 20px 10px 33px 10px;
    width: 182px;
}

.dropdown-ingredient {
    background-color: #0d6efd;
    color: #FFFFFF;
    inset: -47px auto auto -136px !important;
}

.dropdown-appareils {
    background-color: #68D9A4;
    color: #FFFFFF;
    inset: -47px auto auto -136px !important;
}

.dropdown-ustensils {
    background-color: #dc3545;
    color: #FFFFFF;
    inset: -47px auto auto -136px !important;
}

.fontSearch {
    opacity: 0.5;
}

.btn-appareil {
    background-color: #68D9A4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #68D9A4 !important;
    --bs-btn-hover-border-color: #68D9A4 !important;
    --bs-link-hover-color: #68D9A4 !important;
}

/* .fix-btn hover
{
    hover
} */
/* article style */
#recipesHome {

    justify-content: space-between;
}

.recipePic {
    height: 178px;
    width: 380px;
    background: #C7BEBE;
}

.recipeInfo {
    height: 178px;
    width: 380px;
    position: relative;
    background: #E7E7E7;

}

.recipeCard {
    height: 364px;
    width: 380px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    margin-bottom: 27px;

}

.recipeTitle h2 {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    left: 0px;
    width: 214px;

}

.recipeTime .far {
    height: 20px;
    width: 20px;
    left: 224px;
    top: 7px;
    border-radius: 0px;
    position: absolute;

}

.recipeTimeText {
    position: absolute;
    height: 20px;
    width: 108px;
    left: 246px;
    top: 2px;
    border-radius: 0px;

}

.recipeIngredient {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;


}

.productDescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-overflow: ellipsis;


}

.description {
    height: 109px;
    width: 171px;
    position: absolute;
    left: 210px;
    top: 37px;
}

.ingredients {
    position: absolute;
    left: 2px;
    /* right: 49.74%; */
    top: 55px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 0px;
}